################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ftalive-webapi/bin
/ftalive-webapi/obj
